<form class="register-form" ng-submit="auth.register(auth.credentials)">
    <h3>{{'auth.sign_up' | i18n}}</h3>

    <p class="hint">
        {{'auth.sign_up_instructions' | i18n}}:
    </p>

    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">{{'common.email' | i18n}}</label>
        <input class="form-control placeholder-no-fix" type="email" autocomplete="off" placeholder="{{'common.email' | i18n}}" ng-model="auth.credentials.email"/>
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">{{'common.password' | i18n}}</label>
        <input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="register_password" placeholder="Password" ng-model="auth.credentials.password"/>
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">{{'profile.first_name' | i18n}}</label>
        <input class="form-control placeholder-no-fix" type="text" placeholder="{{'profile.first_name' | i18n}}" ng-model="auth.credentials.first_name"/>
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">{{'profile.last_name' | i18n}}</label>
        <input class="form-control placeholder-no-fix" type="text" placeholder="{{'profile.last_name' | i18n}}" ng-model="auth.credentials.last_name"/>
    </div>

    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">{{'profile.company_name' | i18n}}</label>
        <input class="form-control placeholder-no-fix" type="text" placeholder="{{'profile.company_name' | i18n}}" ng-model="auth.credentials.company_name"/>
    </div>
    <div class="form-group margin-top-20 margin-bottom-20">
        <label class="check">
            <input type="checkbox" ng-model="auth.tnc"/> {{'auth.agree_terms' | i18n}} </a>
        </label>

        <div id="register_tnc_error">
        </div>
    </div>
    <div class="form-actions">
        <a ui-sref="auth.login" class="btn btn-default">{{'common.back' | i18n}}</a>
        <button type="submit" class="btn btn-success uppercase pull-right" ng-class="{disabled:!auth.tnc}">Submit</button>
    </div>
</form>